/*
* Version: MPL 1.1/GPL 2.0/LGPL 2.1
*
* "The contents of this file are subject to the Mozilla Public License
* Version 1.1 (the "License"); you may not use this file except in
* compliance with the License. You may obtain a copy of the License at
* http://www.mozilla.org/MPL/
*
* Software distributed under the License is distributed on an "AS IS"
* basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
* License for the specific language governing rights and limitations under
* the License.
*
* The Original Code is ICEfaces 1.5 open source software code, released
* November 5, 2006. The Initial Developer of the Original Code is ICEsoft
* Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
* 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
*
* Contributor(s): _____________________.
*
* Alternatively, the contents of this file may be used under the terms of
* the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
* License), in which case the provisions of the LGPL License are
* applicable instead of those above. If you wish to allow use of your
* version of this file only under the terms of the LGPL License and not to
* allow others to use your version of this file under the MPL, indicate
* your decision by deleting the provisions above and replace them with
* the notice and other provisions required by the LGPL License. If you do
* not delete the provisions above, a recipient may use your version of
* this file under either the MPL or the LGPL License."
*
*/
/* MAIN STYLES */
html {
    overflow: scroll;
}

html, body, div, table, img, fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 11px tahoma, arial, sans-serif;
    color: #4878A1;	
}

/* for some reson IE things a form should have dimensions, */
form {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

#container{
    width: 1024px;
}

.navigationBar, .mainForm, .footerBar{
    float: left;
    clear: both; 
    width: 100%;	
}

.navigationBar {
    background: url( '../images/bgslice_navbar.jpg' ) repeat-x top left;    
}

.inputPAGENUM {
    color: #4878A1;
}

.navigationBarPadding {
    padding-left: 23px;	
}

.navigationElementPadding {
    padding: 0 10px 0 10px;
}

.navigationSlideShowText, .navigationDelayText, .navigationPointerText {
    font-weight: bold;
}

.navigationSlideshowText {
	padding-left: 10px;
}

.navigationDelayText {
    margin-left: 5px;
}

.mainForm {
    background: url( '../images/bgslice_main.jpg' ) repeat-x top left;
}

.footerBar {
    background: url( '../images/bgslice_footer.jpg' ) repeat-x top left;
}

.footerText {
    font: 10px tahoma;
    color: #C1D3DF;
}

.bgBARBLUE {
    background: url( '../images/bgslice_bluebar.jpg' ) repeat-x top left;
}

.mainBackground{
	background-color: #FFFFFF;
	background: url( '../images/bgslice_bot.jpg' ) repeat-x bottom left;
	height: 641px;
}

.presentationDIV {
    padding: 30px 10px 0px 10px;
    width: 725px;
    float: left;
}

.presentationImageTabs {
    width: 248px;
    height: 29px;
    text-align: left;
    padding: 0;
    float: left;
}

.statusMessage {
    float: right;
    text-align: right;
}

.presentationImage {
    width: 720px;
    height: 540px;
    border: thick groove #96B2CF;
    text-align: center;
    float: left;
}

.participantsChatDIV {    
    float: right;
    width: 270px;
}

.participants, .chat {
	border: 1px solid #90B1C9;
	width: 240px; 
}

.numberParticipantsPadding {
	padding-left: 13px;
}

.chatList, .participantList {
    background: #FFFFFF url( '../images/part_bg.jpg' ) no-repeat bottom right;
}

.participantList {
    padding: 13px 13px 5px 13px;
    border-top: 1px solid #90B1C9;	
}

.chatList {
    padding: 10px 10px 1px 10px;
}

.chatListEffect {
    padding: 1px 1px 1px 1px;
    border-bottom: 1px solid #90B1C9;
    border-top: 1px solid #90B1C9;
}

.chatList a {
    text-decoration: underline;
}

.chatTable{
	height: 210px;
}

.inputChatCell{
    width: 169px;
    padding: 0 5px 0 5px;
    float: left;
}

.inputCHAT {
    border: 1px solid #B4CEE1;
    padding: 2px;
    font: 11px tahoma, arial, sans-serif;
    width: 150px;
    color: #4878A1;
    text-align: left;
}

.sendChatCell{
    text-align: right;
    float: right;
}

/* TEXT STYLES */
td {
    font: 11px tahoma, arial, sans-serif;
    color: #4878A1;
}

/* LINK STYLES */
a {
    color: #4878A1;
    text-decoration: none;
}

a:hover {
    color: #5F9ED4;
    text-decoration: underline;
}

a.linkOrange, a.linkOrange:hover {
    color: #F78208;
    text-decoration: underline;
}

/* LIST STYLES */
ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
}

li {
    list-style: none;
    padding-left: 0;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px dashed #B4C7D4;
}

.fileUploadPopup, .switchModeratorPopup, .logoutPopup {
    position: absolute; 
    background-color: #FFFFFF;
    z-index:1001;
    border: 1px solid #104675;
}

.fileUploadPopup {
    width: 550px; 
    height: 200px;  
    top: 30%; 
    left: 30%;	
}

.switchModeratorPopup {
    width: 300px; 
    height: 125px;  
    top: 35%; 
    left: 35%;
}

.logoutPopup{
    width: 300px; 
    height: 110px;
    top: 35%; 
    left: 35%;
}

.cellBGglossyDARK {
    background: #FFFFFF url( '../images/bgslice_glossydarkblue.jpg' ) repeat-x top left;
    padding: 10px 10px 10px 10px;
    font: 10px tahoma, arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

/* PROGRESS BAR STYLES */
.iceOutProg {
    margin-bottom: 10px;
}

.iceOutProgBackground {
    border: 1px solid #ABABAB;
    width: 300px;
    height: 15px;
}

.iceOutProgFill {
    background-color: #4878A1;
    background-position: top left;
    background-repeat: repeat-x;
    display: block;
    height: 15px;
}

.iceOutProgText {
    vertical-align: middle;
    color: black;
}

.pointerImage {
    position: absolute;
    width: 14px;
    height: 14px;
    background-image: url( '../images/arrowpointer-animated.gif' );
}

