<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
  ~ Version: MPL 1.1/GPL 2.0/LGPL 2.1
  ~
  ~ "The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations under
  ~ the License.
  ~
  ~ The Original Code is ICEfaces 1.5 open source software code, released
  ~ November 5, 2006. The Initial Developer of the Original Code is ICEsoft
  ~ Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
  ~ 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
  ~
  ~ Contributor(s): _____________________.
  ~
  ~ Alternatively, the contents of this file may be used under the terms of
  ~ the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
  ~ License), in which case the provisions of the LGPL License are
  ~ applicable instead of those above. If you wish to allow use of your
  ~ version of this file only under the terms of the LGPL License and not to
  ~ allow others to use your version of this file under the MPL, indicate
  ~ your decision by deleting the provisions above and replace them with
  ~ the notice and other provisions required by the LGPL License. If you do
  ~ not delete the provisions above, a recipient may use your version of
  ~ this file under either the MPL or the LGPL License."
  ~
-->
<f:view xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ice="http://www.icesoft.com/icefaces/component"
        xmlns:ui="http://java.sun.com/jsf/facelets">

<f:loadBundle basename="com.icesoft.faces.presenter.resource.messages"
              var="msgs"/>

<html>
<h:head>
    <title>
        <ice:outputText value="WebMC"/>
    </title>
    <!-- Not using the ice:outputStyle component because we want to force the 
         mobile styles -->
    <link href="resources/css/login.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/login_safarimobile.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/styles_safarimobile.css" rel="stylesheet" type="text/css"/>
</h:head>

<h:body>
    <!-- The rootDiv is required for Safari -->
    <div id="rootDiv">
        <!-- This page is used to view the mobile version on a desktop browser.
             No browser sniffing, sets mobile to true -->
        <ice:outputText value="#{participant.testMobile}" visible="false" />
        <ui:include src="#{participant.loggedIn?'WEB-INF/inc/main.jspx':'WEB-INF/inc/login.jspx'}"/>
    </div>
</h:body>
</html>