<!--
  ~ Version: MPL 1.1/GPL 2.0/LGPL 2.1
  ~
  ~ "The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations under
  ~ the License.
  ~
  ~ The Original Code is ICEfaces 1.5 open source software code, released
  ~ November 5, 2006. The Initial Developer of the Original Code is ICEsoft
  ~ Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
  ~ 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
  ~
  ~ Contributor(s): _____________________.
  ~
  ~ Alternatively, the contents of this file may be used under the terms of
  ~ the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
  ~ License), in which case the provisions of the LGPL License are
  ~ applicable instead of those above. If you wish to allow use of your
  ~ version of this file only under the terms of the LGPL License and not to
  ~ allow others to use your version of this file under the MPL, indicate
  ~ your decision by deleting the provisions above and replace them with
  ~ the notice and other provisions required by the LGPL License. If you do
  ~ not delete the provisions above, a recipient may use your version of
  ~ this file under either the MPL or the LGPL License."
  ~
-->
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:ice="http://www.icesoft.com/icefaces/component"
     class="participants">

    <ice:panelGrid id="participantGrd"
                   columns="2" 
                   styleClass="bgBARBLUE" 
                   width="100%"
                   cellpadding="0" 
                   cellspacing="0"
                   border="0" > 
	    <ice:panelGroup styleClass="numberParticipantsPadding">
	        <ice:outputText value="#{participant.mobile?'Viewers:':'Number of Participants:'}#{participant.presentation.numberChatParticipants}"/>
	    </ice:panelGroup>
	    <ice:panelGroup style="text-align: right">
	        <ice:commandButton id="pScrollUpBtn"
                                 immediate="true" 
	                           alt="#{msgs['page.scrollUpButton.alt']}"
	                           image="resources/images/part_arrow_up_#{participant.participantView.participantScrollUpDisabled}.gif"
	                           title="#{msgs['page.participants.scrollUpButton.title']}"
	                           actionListener="#{participant.participantView.moveParticipantViewUp}"
	                           disabled="#{participant.participantView.participantScrollUpDisabled}"/>
	        <ice:commandButton id="pScrollDnBtn"
                                 immediate="true"
	                           alt="#{msgs['page.scrollDownButton.alt']}"
	                           image="resources/images/part_arrow_down_#{participant.participantView.participantScrollDownDisabled}.gif"
	                           title="#{msgs['page.participants.scrollDownButton.title']}"
	                           actionListener="#{participant.participantView.moveParticipantViewDown}"
	                           disabled="#{participant.participantView.participantScrollDownDisabled}"/>
	    </ice:panelGroup>
    </ice:panelGrid>

	<ice:panelGroup styleClass="participantList">
	    <ul>
	    <ice:dataTable id="participantTbl"
                         binding="#{participant.participantsTable}"
	                   value="#{participant.participantViewList}" 
	                   var="list"
	                   width="100%"
	                   styleClass="participantTable">
	        <ice:column>
	        <li>
                <ice:graphicImage rendered="#{!participant.mobile}"
                                  visible="#{not empty list and list.moderator}"
                                  value="resources/images/bullet_orange.gif"
                                  title="#{list.firstName} #{list.lastName} #{msgs['page.participants.moderatorBullet.title']}"
                                  style="vertical-align: bottom; float: left;"/>
                <ice:graphicImage rendered="#{!participant.mobile}"
                                  visible="#{not empty list and not list.moderator}"
                                  value="resources/images/bullet_grey.gif"
                                  style="vertical-align: bottom; float: left;"/>
                <ice:outputText value="&amp;nbsp;" escape="false" />
                <ice:commandLink id="passModeratorLnk"
                                 value="#{list.firstName} #{list.lastName}"
                                 title="#{msgs['page.participants.passModeratorCommandLink.title.partOne']} #{list.firstName} #{msgs['page.participants.passModeratorCommandLink.title.partTwo']}"
                                 rendered="#{participant.moderator}"
                                 actionListener="#{participant.passModerators}"
                                 style="font-weight: bold;"/>
                <ice:outputText id="participantName"
                                value="#{list.firstName} #{list.lastName}"
                                rendered="#{not participant.moderator}"
                                style="font-weight: bold;"/>
                <ice:outputText id="isModerator"
                                value="#{msgs['page.participants.moderator.text']}"
                                rendered="#{not empty list and list.moderator}"/>
                <ice:outputText id="hasSkype"
                                value="#{msgs['page.participants.skype.text']}"
                                rendered="#{not empty list and list.hasSkype}"/>
	        </li>
	        </ice:column>
	    </ice:dataTable>
	    </ul>
	</ice:panelGroup>

</div>