<!--
  ~ Version: MPL 1.1/GPL 2.0/LGPL 2.1
  ~
  ~ "The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations under
  ~ the License.
  ~
  ~ The Original Code is ICEfaces 1.5 open source software code, released
  ~ November 5, 2006. The Initial Developer of the Original Code is ICEsoft
  ~ Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
  ~ 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
  ~
  ~ Contributor(s): _____________________.
  ~
  ~ Alternatively, the contents of this file may be used under the terms of
  ~ the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
  ~ License), in which case the provisions of the LGPL License are
  ~ applicable instead of those above. If you wish to allow use of your
  ~ version of this file only under the terms of the LGPL License and not to
  ~ allow others to use your version of this file under the MPL, indicate
  ~ your decision by deleting the provisions above and replace them with
  ~ the notice and other provisions required by the LGPL License. If you do
  ~ not delete the provisions above, a recipient may use your version of
  ~ this file under either the MPL or the LGPL License."
  ~
-->
<h:panelGroup xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ice="http://www.icesoft.com/icefaces/component" >

    <!-- Presentation/Information tabs and Status Message on top of slide are 
         only visible on desktop browsers -->
    <ice:panelGroup styleClass="presentationImageTabs"
                    rendered="#{!participant.mobile}" >
        <ice:commandButton id="slideTypeOne"
                action="#{participant.toggleSlideTypeOne}"
                image="resources/images/main_tab_pres_#{participant.slideTypePres}.gif"
                alt="#{msgs['page.presentation.presentationTabButton.alt']}"/>
        <ice:commandButton id="slideTypeTwo"
                action="#{participant.toggleSlideTypeTwo}"
                image="resources/images/main_tab_info_#{not participant.slideTypePres}.gif"
                alt="#{msgs['page.presentation.informationTabButton.alt']}"/>
    </ice:panelGroup>

    <ice:panelGroup styleClass="statusMessage"
                    rendered="#{!participant.mobile}">
        <ice:outputText id="statusMsg"
                        value="#{participant.statusMessage}"
                        effect="#{participant.statusEffect}"
                        escape="false"
                        style="background-color: #C7DFEF; color: #2D6387;"/>
    </ice:panelGroup>

    <div class="presentationImage">
        <!-- Pointer image rendered to viewers and moderator-->
        <ice:panelGroup id="pointerImg"
                        rendered="#{participant.presentation.usingPointer}"
                        styleClass="pointerImage"
                        style="#{participant.pointerClass}" />
        <!-- Pointer functionality for moderator-->
        <ice:commandLink id="presentationImgLnk"
                         disabled="#{not participant.moderator or not participant.presentation.usingPointer}"
                         style="#{participant.presentation.usingPointer and participant.moderator?'cursor: crosshair;':''}"
                         actionListener="#{participant.pointer}">
	        <!-- Slide -->
	        <ice:graphicImage id="presentationImage" value="#{participant.currentSlide.location}"
	                          rendered="#{participant.slideTypePres and not participant.currentSlide.movieSlide}"/>
	        <ice:outputMedia player="#{participant.currentSlide.player}" source="#{participant.currentSlide.location}"
	                          rendered="#{participant.slideTypePres and participant.currentSlide.movieSlide}"/>
	    </ice:commandLink>
	    <!-- Information Slide -->
        <ice:graphicImage id="infoSlide"
                          value="#{participant.infoSlide.location}"
                          rendered="#{not participant.slideTypePres}"/>
    </div>

    <!-- Preload Images -->
    <ice:dataTable value="#{participant.preloadSlides}"
                   var="loopSlide"
                   cellpadding="0"
                   cellspacing="0" 
                   border="0">
        <h:column>
            <ice:graphicImage value="#{loopSlide.location}"
                              style="visibility: hidden; height: 0; width: 0;"/>
        </h:column>
    </ice:dataTable>

</h:panelGroup>
